PORT=3000
ALLOWED_ORIGIN=*
DATABASE_URL=postgresql://postgres:5513@localhost:5432/board

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_ENDPOINT=localhost
MINIO_PORT=9002
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=board
MINIO_PUBLIC_BASE_URL=http://localhost:9002
MINIO_LOCAL_BASE_URL=http://localhost:9002
MINIO_PATH_STYLE=true

PRIVATE_KEY=secret_key_safasa_instance1
REDIS_URL=redis://localhost:6379
ADMIN_PASSWORD=admin
APPLICATION_TYPE=backend
ERP_CLIENT_OFFLINE_HOST=localhost
COMMENTS_SERVICE_URL=http://localhost:3001
RABBITMQ_URL=amqp://guest:guest@localhost:5672
ERP_API_URL=http://localhost:8026
